	#ModWinBack {position:fixed; background: rgba(0, 0, 0, 0.7); top: 0px; left: 0px;width:100%; height:100%; display: none;} 
			
            #ModWin {
				width:100%;
				position:absolute; 
				top: 10%;
				left: 25%;
				background: #fff;
				color: #757575;
				overflow: auto;/**/
				max-width: 700px;
				font-family: Arial,Tahoma,Verdana;
				z-index:11;
			}
			.WinTitle { position: absolute; top: 20px;width: 80%;height: 24px;overflow: hidden; }
			
			.ModWinBody { padding: 42px; min-height: 400px; }
			.WinBody {width:100%; height: 100%; /*padding: 42px; overflow: auto; box-sizing: padding-box;*/ }
			
			.ModWinBody form { width:50%; padding: 20px; margin-left: auto; margin-right: auto; border: 1px solid #F3E7E7; border-radius: 5px;margin-top: 35px;
		
background: #05abe0;
background: -moz-radial-gradient(center, ellipse cover,  #05abe0 0%, #53cbf1 60%, #87e0fd 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #05abe0 0%,#53cbf1 60%,#87e0fd 100%);
background: radial-gradient(ellipse at center,  #05abe0 0%,#53cbf1 60%,#87e0fd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=1 );


 }
			.ModWinBody label {	display: block;  }
			.ModWinBody input, .ModWinBody select{ width: 100%;height: 40px;font-size: 20px;border-radius: 5px; border: 1px solid #929292; margin-top: 10px;
margin-bottom: 10px; position: relative;}	
			.ModWinBody input { text-align: center;}
			.Zakazfio, .Zakazphone {position: relative; max-width: 290px;margin-right: auto; margin-left: auto;}
			.norequired:before {	position: absolute;	display: block;	content: 'Нужно заполнить поле';font-size: 12px;background: red;color: #fff;padding: 3px;top: -7px; right: 0px;}
			
            
			#zoom1 { 
				width: 200px;
				height: 200px;
			}
            
			.mwT, .tiT, .priceT{ display: table; width: 100%; }
			.mwR, .tiR, .priceR{ display: table-row; width: 100%; }
			.mwS, .tiS{ display: table-cell; vertical-align: top; padding: 10px; width: 50%;}
			.priceC { display: table-cell; padding: 10px; width: 50%; }
			.priceC {text-align: center;font-size: 12px;  padding: 0px; color: #000;}
			.priceC.new, .priceC.old {font-size: 20px;}
			.priceC.old {text-decoration: line-through; color: #000; }
			.priceC.new { color: #D20404; font-weight: 700; font-size: 30px;}
			
			.tiS{ padding: 5px; }
			.tiR { background: #FBFBFB; }
			.tiR:nth-child(2n) { background: #eee; }

			.tiС {display: table-caption; font-size: 19px; font-weight: 700; padding-bottom: 20px;text-align: center;}
			.bb { font-weight: 700; }
						
			.closeBtn {
				background: transparent url("icon-close.png") no-repeat scroll 0% 0%;
				background-size: cover;
				width: 16px;
				height:16px;
				position: absolute;
				top: 20px;
				right: 20px;
				cursor: pointer;
				content: ' ';
				
			}
			
			.MWdescr, .forBtn { padding-top: 20px; }
			.forBtn { text-align: center;  padding-bottom: 20px;}
			.MWlic { font-size:12px; }
			.MWlic a{ color: #038CD7;text-decoration: none;font-weight: 700; }
			
/*_________________Кнопка купить______________________*/

.buttonGreenBig, .buttonBlueBig, .buttonGreenBigF, .buttonBlueBigF {
	display:inline-block;
	border:none;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	outline:none;
	cursor: pointer;
	text-decoration: none;
	background: #70b81e url("btnBackGreen.png") repeat-y scroll 0% 0%;
	padding:20px 40px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.06),inset 0 0 0 1px rgba(0,0,0,0.15);
	box-shadow:0 1px 1px rgba(0,0,0,0.06),inset 0 0 0 1px rgba(0,0,0,0.15);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	}

.buttonGreenBigF, .buttonBlueBigF{ width: 49%; padding: 15px 20px; }
.buttonBlueBigF{ background: #38a9fb url("btnBackGreen.png") repeat-y scroll 0% 0%; }

.buttonGreenBigF:focus,.buttonBlueBigF:focus, .buttonGreenBig:focus, .buttonBlueBig:focus{-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.06),inset 0 0 0 1px rgba(43,150,241,0.5);box-shadow:0 1px 1px rgba(0,0,0,0.06),inset 0 0 0 1px rgba(43,150,241,0.5)}


.buttonGreenBigF:hover{ background: #76cf0b url("btnBackGreenH.png") repeat-y scroll 0% 0%;}
.buttonBlueBigF:hover {  background: #4faffa url("btnBackGreenH.png") repeat-y scroll 0% 0%; }



.button.small{padding:10px 20px}



/*________________.Кнопка купить______________________*/
			
/*_________________Анимация загрузки__________________*/			
			
			
			
			.button.small { padding:10px 20px }
/*Анимация загрузки*/	
.loadingF {width: 145px;margin-left: auto;margin-right: auto;margin-top: 15%;text-align: center;	}	
.loading {
	width: 100px; height: 100px;
    border: 20px solid #929292;
	border-color: #929292 #FFF #929292 #FFF;
    border-radius: 50%;
	line-height: 100px;
	font-size: 100px;
	text-align: center;
	color: #929292;
    -webkit-animation: spin 1.2s linear 0s infinite normal;
    -moz-animation: spin 1.2s linear 0s infinite normal;
    -o-animation: spin 1.2s linear 0s infinite normal;
    animation: spin 1.2s linear 0s infinite normal;
   
}

 .loadingafter{
	font-size: 30px;
	color: #929292;
 }
   
   @-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
   @-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
   @-o-keyframes spin { from { -o-transform: rotate(0deg); } to { -o-transform: rotate(360deg); } }
   @keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
   
   
@media screen and (max-width:700px){
	#ModWinBack { position: absolute; }
	#ModWin { position: fixed; top: 0px; left:0px; height: 100%;}
}
@media screen and (max-width:520px){
.mwT,.mwR,.mwS { display: block; width: 100%; text-align: center;}
#zoom1 { width: 150px; height: 150px; }
.priceC.new {font-size:25px}
}