body, h1, h2, h3, h4, h5, h6  { margin: 0px; padding: 0px;}
body { background: #eee; }
* {box-sizing: border-box;}
.wrap { 
width: 100%;
height: 100%;
max-width: 300px;
margin: 0px auto;
overflow: hidden;
}

.chatT { display: table; text-align: center; font-size: 70px;text-transform: uppercase; }
.chatR{display: table-row;}
.chatC{ display: table-cell; padding: 0px;width: 100px;height: 100px; vertical-align: top; overflow: hidden; }




.elem {padding: 5px;width: 100px;height: 100px; border: solid 1px #eee; color: #fff;}


.none { background: #fff;}
.none:hover {  background: #f8f8f8; }

.x { background: #5bd1ff; }
.o { background: #5bff85; }


